@import url('http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700');
* {
  font-family:'Avenir', sans-serif;
}
body {
  margin: 0;
  padding: 0;
  overflow-x:auto;
}
html {
  margin: 0;
  padding: 0;
  height:100%;
}
.main {
  width:100%;
  height:100%;
  display:flex;
  align-items: stretch;
}
.leftPanel {
  background-color:#333333;
  color: #AEBFCE;
  position: relative;
  display:flex;
  flex-direction:column;
  justify-content: space-between;
  width:230px;
}

.rightPanel {
  padding: 5px;
  background-color: rgba(#252525, 0.34);
  flex: 1 0 auto;
  color:black;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display:flex;
  flex-direction:column;
}

.gallery {
  flex: 1;
  display:flex;
  align-items: center;
  flex-direction:column;
}

.verticalCenter {
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}
.leftSelector {
  font-size:18px;
  cursor: pointer;
  padding:2px 0px 2px 20px
}
.leftSelector:hover {
  background-color: rgba(59, 52, 52, 0.81);
}
.about {
  overflow-y: auto;
  // z-index:0;
  background-color: rgba(255, 255, 255, 0.15);
  position: relative;
  top: 20px;
  color:white;
  overflow-x:hidden;
}
.icon {
  padding:5px;
  border-radius: 5px;
  display:flex;
  justify-content: center;
  align-items: center;
}
.icon:hover {
  background-color:rgb(147, 147, 147);
}
//flexs my right content on small screens
@media (max-width: 767px) {
  .main {
    flex-direction: column;
  }
  .leftPanel {
    background-color:#333333;
    color: #AEBFCE;
    flex:0 0 auto;
    position: relative;
    overflow:hidden;
    max-width: none;
    padding: 0px 0px;
    width:100%;
  }
  .rightPanel {
    width:auto;
  }
  .bgIcon {
    display:none;
  }
  .about {
    position:relative;
    top:auto;
    width:auto;
    // left:auto;
    width:100%;
  }
  .leftSelector {
    padding: 4px 0;
    padding:4px 0px 4px 20px

  }
}
