.resumeToolbar {
  width:100%;
  max-width:800px;
  position:absolute;
  top:0px;
  opacity: 0;
  transition: opacity 0.8s;
}

.container {
  position: relative;
}
.container:hover .resumeToolbar {
  opacity: 1;
}
