.container {
  color:white;
  width: 80%;
  margin: auto auto;
  background-color:rgba(61, 61, 61, 0.78);
  font-size:28px;
  font-weight:500;
  min-height:200px;
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius:5px;
  position:relative;
  word-wrap: break-word;
  max-width:700px;
  overflow-y: auto;
}
.centerText {
  display:flex;
  flex-direction: column;
  justify-content: center;
  text-align:center;
  position: absolute;
  left:5px;
  right:5px;
  bottom:0px;
  top:0px;
}
.cardIndex {
  display: flex;
  justify-content: center;
  font-size: 15px;
  opacity:0.5;
  position: absolute;
  bottom: 10px;
  left: 0px;
  right: 0px;
}

@media (max-width: 767px) {
  .container {
    width: 100%;
    min-width:auto;
  }
}
