.container {
  color:white;
  width: 80%;
  margin: auto auto;
  background-color:rgba(61, 61, 61, 0.78);
  font-size:23px;
  font-weight:500;
  height:200px;
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius:5px;
  position:relative;
  // min-width:570px;
  word-wrap: break-word;
  max-width:700px;
}
@media (max-width: 767px) {
  .container {
    width: 100%;
    min-width:auto;
  }
}


//
// .text {
//     opacity: 1;
//     animation: fade 3s linear infinite;
// }
//
//
// @keyframes fade {
//   0%,100% { opacity: 0 }
//   50% { opacity: 1 }
// }
