.videoContainer {
  flex: 1;
  display:flex;
  align-items: center;
  flex-direction:column;
  overflow-y: auto;
}

.videoContainer iframe {
  width: 100%;
  max-width: 650px;
  max-height: 400px;
  margin-bottom:15px;
  overflow:hidden;
  // flex-shrink:0;
  flex: 0 0 auto;
}
.videoContainer iframe:nth-child(1) {
  margin-top:15px;
}
