
.gallery {
  flex: 1;
  display:flex;
  align-items: center;
  flex-direction:column;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.grow {
  -webkit-transition: width 1s; /* Safari */
  transition: width 1s;
  width:30px;
}

.grow:hover {
  width: 38px;
}
