@import url('http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700');
* {
  font-family:'Avenir', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  overflow-x:hidden;
  overflow-y: auto;
}
html {
  margin: 0;
  padding: 0;
  height:100%;
}
a {
  color:white;
  cursor: pointer;
}
a:hover {
  color: rgb(189, 189, 189)
}

::-webkit-scrollbar              { /* 1 */ }
::-webkit-scrollbar-button       { /* 2 */ }
::-webkit-scrollbar-track        { /* 3 */ }
::-webkit-scrollbar-track-piece  { /* 4 */ }
::-webkit-scrollbar-thumb        { /* 5 */ }
::-webkit-scrollbar-corner       { /* 6 */ }
::-webkit-resizer                { /* 7 */ }
::-webkit-scrollbar {
    width: 12px;
    background-color:rgba(102, 102, 102, 0.5);
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 10px black;
}

.main {
  width:100%;
  height:100%;
  display:flex;
  align-items: stretch;
}

.rightContent {
  padding: 5px;
  background-color: rgba(#252525, 0.34);
  flex: 1 0 auto;
  color:black;
  overflow-y: hidden;
  display:flex;
  flex-direction:column;
}


.gallery {
  flex: 1;
  display:flex;
  align-items: center;
  flex-direction:column;
}

.verticalCenter {
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}


//flexs my right content on small screens
@media (max-width: 767px) {
  .main {
    flex-direction: column;
  }

  .rightContent {
    width:auto;
  }


}
